/* You can add global styles to this file, and also import other style files */
/*
    Green = #89c541
*/
header {
    background-color: #89c541;
    height: 30px;
}

footer {
    background-color: #000;
    height: 30px;
}